*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color:#FAEBD7;
    box-sizing: border-box;
   grid-area: auto;

}

.newlist{
    margin: 5px;
    color: #2F4F4F;
}
.heading{
    color: #8A2BE2;
    margin-top: 25px;
    text-align: center;
}
#delete-btn{
    background-color: red;
    margin-left: 15px;
}
.finalprice{
    color:black
}
body{
    background-color: #2F4F4F;
}
#delete-btn1{
    background-color: red;
    margin-left: 15px;
}